{% extends "base.html" %}
{% block title %}AndroBugs Web{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='androbugs.css') }}">
{% endblock %}
{% block content %}

<form action="{{ url_for('upload') }}" method="post" id="file-upload" enctype="multipart/form-data" class="file-upload">
    <dl>
        <dt>APK File:
        <dd><input type="file" class="well" name="file" id="file-input" accept=".apk">
        <dt><input type="submit" class="btn btn-default" value="Process APK File">
    </dl>
</form>
<div id="fountainG" style="visibility: hidden;">
    <div id="fountainG_1" class="fountainG"></div>
    <div id="fountainG_2" class="fountainG"></div>
    <div id="fountainG_3" class="fountainG"></div>
    <div id="fountainG_4" class="fountainG"></div>
    <div id="fountainG_5" class="fountainG"></div>
    <div id="fountainG_6" class="fountainG"></div>
    <div id="fountainG_7" class="fountainG"></div>
    <div id="fountainG_8" class="fountainG"></div>
</div>
<div class="result"></div>

  <table id="apk" class="table table-bordered table-hover table-striped">
      <thead class="thead-dark">
      <tr>
          <th scope="col"><icon class="glyphicon glyphicon-trash"/></th>
          <th scope="col">Name</th>
          <th scope="col">MD5</th>
          <th scope="col">Package Version</th>
          <th scope="col">Devices</th>
          <th scope="col">Comment</th>
          <th scope="col">Critical Warnings</th>
      </tr>
      </thead>
      <tbody>
      {% for apk in apks %}
      <tr>
      <td>
          <i class="glyphicon glyphicon-trash" onclick="event.preventDefault(); deleteRow(event);" id="delete-{{ apk.id }}"></i>
      </td>
      <td><a href="{{ url_for('detail', id=apk.id) }}"><icon class="glyphicon glyphicon-info-sign"/>{{ apk.package_name }}</a></td>
      <td>{{ apk.file_md5 }}</td>
      <td>{{ apk.package_version_name }}</td>
      <td>
          {% for value in apk.devices %}
          <div>{{ value }}</div>
          {% endfor %}
      </td>
      <td>
          <form method="post" enctype="multipart/form-data" id="comment-form-{{ apk.id }}">
              <textarea name="comment" id="{{ apk.id }}" class="form-control comment" rows="3" cols="60"
               placeholder="Enter comment">{{ apk.comment or "" }}</textarea>
              <button onclick="event.preventDefault(); updateComment(event, document.getElementById('comment-form-{{ apk.id }}'))" class="btn btn-default">Update</button>
              <div id="error_message-{{ apk.id }}" class="alert-danger"></div>
              <div id="success_message-{{ apk.id }}" class="alert-success"></div>
          </form>
      </td>
      <td>
      {% for key, value in apk.details.items() %}
        {% if value['count'] > 0 %}
          {% if value['level'] == 'Critical' %}
              <div class=alert-danger><a href="{{ url_for('vector', vector_title=key) }}">{{key}}</a></div>
          {% else %}
              <div></div>
          {% endif %}
          {% endif %}
      {% endfor %}

      </td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
{% block scripts %}
{{ super() }}
<script>
    
    $(document).ready(function($) {
        let table;
        if($('[id^=apk_wrapper]').length == 0) {
            table = $('#apk').DataTable({
                "select": true,
                "columns": [
                    { "orderable": false },
                    null,
                    null,
                    null,
                    { "orderable": false },
                    null,
                    { "orderable": false }
                ],
                "retrieve": true
            });
        }

        $('.file-upload').on('submit', function(e){
            e.preventDefault();
            e.stopImmediatePropagation();

            if($("#file-input").get(0).files.length === 0) {
                console.log("No files selected.");
                return false;
            }

            let loading = $('#fountainG');
            loading.css('visibility', 'visible');
            let results = $('.result');
            results.html('');

            let form = $(this);
            url = form.attr('action');

            let formData = new FormData(this);

            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                contentType: false,
                cache: false,
                processData: false,
                success: function(data) {
                    loading.css('visibility', 'hidden');
                    results.html(data);
                    // clear file upload
                    $('.file-upload')[0].reset();
                },
                error: function (data) {
                    results.html(data);
                    // clear file upload
                    $('.file-upload')[0].reset();
                }
            });
            
            return false;
        });

    });

    function deleteRow(event) {
        debugger;
        let id = event.currentTarget.id.split('-')[1];
        let url = "/delete/" + id;
        $.ajax({
            type: 'POST',
            url: url,
            success: function(data)
            {
                console.log(data.message);
                let selectedRow = $("#apk tr.selected");
                selectedRow.remove();
            },
            error: function(data)
            {
                console.log(data.responseJSON.message);
            }
        });
        return false;
    }

    function updateComment(event, form) {
        let id = form.getAttribute('id').split('-')[2];
        let url = "/update/" + id;
        $.ajax({
            type: 'POST',
            url: url,
            data: $(form).serialize(),
            success: function(data)
            {
                let message = "#success_message-" + id;
                console.log("Success");
                debugger;
                $(message).fadeIn().html(data.message);
                setTimeout(function() {
                    $(message).fadeOut("slow");
                }, 2000 );
            },
            error: function(data)
            {
                debugger;
                let message = "#error_message-" + id;
                console.log(data.message);
                $(message).fadeIn().html(data.responseJSON.message);
                setTimeout(function() {
                    $(message).fadeOut("slow");
                }, 2000 );
            }
        });
        return false;
    }
</script>
{% endblock %}
{% endblock %}
